@{
    ViewBag.Title = "Home";
}
<div class="container">
    <h1>Home</h1>

    <div class="box">
        <div>@ViewBag.MyKey1</div>
        <div>@ViewBag.MyKey2</div>
        <div>@ViewBag.MyKey3</div>
    </div>

    <div class="box">
        <div>==> @ViewBag.NestedKey1</div>
        <div>==> @ViewBag.NestedKey2</div>
        <div>==> @ViewBag.NestedKey3</div>
    </div>

    <div class="box">
        <div>@ViewBag.Section1</div>
        <div>@ViewBag.Section2</div>
    </div>

    <div class="box">
        <div>@ViewBag.Bind1</div>
        <div>@ViewBag.Bind2</div>
    </div>

    <div class="box">
        <div>@ViewBag.Options1</div>
        <div>@ViewBag.Options2</div>
    </div>
</div>